.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  cursor: pointer;
  width: 200px;
  border: 1px solid #080808;
  padding: 4px;
}

.card__img {
  width: 100%;
  border-radius: 2px;
}

.card__taste {
  width: 80%;
  color: gray;
  text-align: center;
}

.card__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__price {
  margin-top: 5px;
  margin-bottom: 1px;
}

.card__button1 {
  background-color: #f3f3f3;
  color: #080808;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}

.card__button2 {
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: #080808;
  color: #e4e4e4;
  cursor: pointer;
}

.card__button2:hover {
  background: #111111;
}

@media only screen and (max-width: 500px) {
  .card {
    width: 80%;
  }
}
