.singleItem {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleItem__image {
  margin-top: 20px;
  object-fit: contain;
  width: 500px;
}

.singleItem__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
